/* Add mobile styles for the component here.  */
.audio-layout{
    padding:10;
    background:rgb(21, 130, 255);
}

Slider{
    color:white;
    border-color:white;
    background-color:white;
}

.play{
    font-family: "icomoon","icomoon.ttf";
    color:white;
    background:rgb(21, 130, 255);
    font-size: 10;
    border-width: 1;
    border-color:white;
    border-radius: 100;
    width:50;
    height: 50;
    padding:0;

}

.play:active{
    color:rgb(0, 0, 112);
    border-color:rgb(0, 0, 112);
}

